<launch>
  <arg default="$(find obot_urdf_description)/urdf/obot_urdf.xacro" name="model"/>
  <arg default="true" name="gui"/>
  <arg default="$(find obot_urdf_description)/launch/urdf.rviz" name="rvizconfig"/>

  <param name="use_gui" value="$(arg gui)"/>
  <group ns="sim">
    <param command="$(find xacro)/xacro $(arg model) tf_prefix:=sim" name="robot_description"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" args="tf_prefix=sim"/>
  </group>
  <group ns="real">
    <param command="$(find xacro)/xacro $(arg model) tf_prefix:=real" name="robot_description"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  </group>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>
