<launch>

<rosparam file="$(find base_urdf2_description)/launch/controller.yaml" command="load"/>
<node args="Rev9_position_controller Rev10_position_controller joint_state_controller " name="controller_spawner" ns="base_urdf2" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/base_urdf2/joint_states"/>
</node>

</launch>