<launch>
  <arg default="$(find freebot_urdf_description)/urdf/freebot_urdf.xacro" name="model"/>
  <arg default="true" name="gui"/>
  <arg default="$(find freebot_urdf_description)/launch/urdf.rviz" name="rvizconfig"/>

  <param name="use_gui" value="$(arg gui)"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_camera" args=".1 -.2 -.1 0 0 0 1 base_link base_camera" />
  <group ns="desired">
    <param command="$(find xacro)/xacro $(arg model) tf_prefix:=sim" name="robot_description"/>
    <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="1000" />
    </node>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link" args="0 0 0 0 0 0 1 base_link sim/base_link" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="wrist_camera" args=".03 0 0.05 0 0 0 1 sim/OS_Wrist_connector_01_1 sim/wrist_camera" />
  </group>
  <group ns="real">
    <param command="$(find xacro)/xacro $(arg model) tf_prefix:=real" name="robot_description"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link" args="0 0 0 0 0 0 1 base_link real/base_link" />
  </group>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
  <node args="-d $(arg rvizconfig)" name="rviz2" pkg="rviz" required="true" type="rviz"/>
</launch>
